extends ./layout/standard.pug

block content 

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h1> hola </h1>
        <div class="form-group">
          <input id="name" name="nombre" placeholder="Ingresa tu nombre">
        </div>
      </div>
    </div>
  </div>

  .container-fluid
     .row  
      .col-md-4.offset-md-4
        h1 hola
        .form-group
          input(id="name", name="nombre", placeholder="Ingresa tu nombre")